<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="saucedemo Suite">
    <listeners>
        <!-- Allure TestNG listener -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <!-- Helper listener -->
        <listener class-name="listeners.TestAllureListener"/>
    </listeners>

    <test name="saucedemo Tests">
        <packages>
            <package name="tests.saucedemo"/>
        </packages>
    </test>
</suite>